.git
.gitignore
.github
node_modules
vendor
storage
bootstrap/cache
tests
coverage
npm-debug.log
yarn.lock
pnpm-lock.yaml
.env
!.env.production
*.md
*.log
docker-compose.yml
public/uploads
public/videos
